html {
	background: url(http://static.tumblr.com/jaacnbq/7wun7r2d7/grunge-halftone-background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
}

body {
	background: transparent;
	font: normal 15px/24px 'Roboto', Helvetica, Arial, sans-serif;
}

img {
	max-width: 100%;
}

a {
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    color: #005aff;
}

a:hover {
    color: #003d6d;
    text-decoration: none;
}

/* -- Typography -- */

h1,h2,h3,h4,h5,h6 {
    font-family: 'Bangers', cursive;
}

blockquote {
    font: normal 15px/24px 'Roboto', Helvetica, Arial, sans-serif;
}

.ctr {
    text-align: center;
}

.caps {
    text-transform: uppercase;
}

/* --- SITE HEADER --- */
body {
  border-top: 10px solid #ffda00;
}

header#masthead {
    display: block;
    width: 305px;
    margin: 0 auto;
}

h1#site-title {
    text-indent: -9999px;
    height: 225px;
    width: 300px;
    background: transparent url(http://static.tumblr.com/jaacnbq/sAxn7si9b/csk-logo_640x480.png) no-repeat;
    background-size: 300px 225px;
    background-position: center center;
    display: block;
    width: 100%;
}

/* --- ARTICLES --- */

article {
	background-color: #fff;
	border: 4px solid #000;
	margin-bottom: 25px;
}

article.photo {
    border: none;
    padding: 10px 10px 25px 10px;
    -webkit-box-shadow: 0 4px 6px rgba(0,0,0,.35);
    	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.35);
    	box-shadow: 0 4px 6px rgba(0,0,0,.35);
}

article>header {
    background-color: #9a0000;
background-image: url(http://static.tumblr.com/jaacnbq/K8Yn7rbqg/paper-3.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    padding:16px;
    color: #fff;
}

article>header .title {
    margin: 0 0 10px 0;
    text-align: center;
    letter-spacing: 1px;
}

article>header .title a {
    color: #ffda00;
    text-shadow: 1px 1px 0 black, 
                     2px 2px 0 black,
                     3px 3px 0 black;
}

article>header .title a:hover {
    text-decoration: none;
    color: #fff;
}

article>.article-content {
    padding: 16px;
}

.article-content .read_more {
    font-weight: 700;
    padding: 4px 8px;
    background: #5a88af;
    color: #fff;
}

.article-content .read_more:hover {
    text-decoration: none;
    background: #6b99c1;
}

article>footer {
    margin: 2px 16px;
    padding: 8px 4px;
    font-size: 12px;
    line-height: 12px;
    border-top: 1px solid #e1e1e1;
}

article>footer a.tag_url {
    color: #aaa;
}

article>footer a.tag_url:hover {
    color: #9a0000;
}

article>footer ul {
    margin-bottom: 0;
}

article>footer ul.pull-right {
    max-width: 60px;
}

a.source-link {
    color: #bbb;
}

/* --- Photo posts --- */

.polaroid {
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    padding: 10px 10px 20px 10px;
    border: 1px solid #eaeaea;
}

.photo .caption p {
    font-family: 'Shadows Into Light Two', cursive;
    text-align: center;
    padding: 5px 0 10px 0;
    font-size: 24px;
    line-height: 26px;
}

/* --- Chat posts --- */

article.chat ul li {
    display: block;
    padding: 12px 6px;
}

article.chat ul li.even {
    background: #f0f0f0;
}

/* --- SIDEBAR --- */

.sidebar-wrap {
    padding: 8px;
    background: #fff;
    border: 4px solid #000;
}

.avatar-wrap {
    position:relative;
    background: #fff url(http://static.tumblr.com/jaacnbq/f10n7raep/gs_portrait.jpg) no-repeat;
    background-size: 240px 320px;
    padding-top: 250px;
    margin-bottom: 15px;
}

img#avatar {
    max-width: 100px;
    margin: 0 auto;
    display:block;
    border: 4px solid #000;
}

@media (max-width: 1199px) {
    .avatar-wrap { background-position: -55px 0; }
}
@media (max-width: 991px) {
    .avatar-wrap { background-position: 10px 0; }
}

form#search {
    margin-bottom: 15px;
}

a.pagination {
    background: #ffda00;
    font-family: 'Bangers', cursive;
    color: #000;
    font-size: 24px;
    padding: 8px 12px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

a.pagination:hover {
    background: #ffe566!important;
}

/* --- Footer --- */

footer#site-footer {
    margin-top: 25px;
}

/* --- Video posts --- */

.video-container {
    	position: relative;
    	padding-bottom: 56.25%;
    	padding-top: 30px;
    	height: 0;
    	overflow: hidden;
    }
    
    .video-container iframe,	
    .video-container object,	
    .video-container embed {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
    
    /* Misc */
    
    img.frame {
      margin-bottom: 10px;
      border: 4px solid #000;
    }
    
    img.alignright {
      float: right;
      margin: 0 0 8px 8px;
      max-width: 50%;
    }
    
    img.alignleft {
      float: left;
      margin: 0 8px 8px 0;
      max-width: 40%;
    }
    
    img.aligncenter {
      float: none;
      display: block;
      margin: 10px auto;
      max-width: 90%;
    }

/* Buzz Out */
    @-webkit-keyframes buzz-out {
      10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
      }
    
      20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
      }
    
      30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
      }
    
      40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
      }
    
      50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
      }
    
      60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
      }
    
      70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
      }
    
      80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
      }
    
      90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
      }
    
      100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
      }
    }
    
    @keyframes buzz-out {
      10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
      }
    
      20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
      }
    
      30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
      }
    
      40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
      }
    
      50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
      }
    
      60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
      }
    
      70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
      }
    
      80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
      }
    
      90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
      }
    
      100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
      }
    }
    
    .buzz-out {
      display: inline-block;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }
    .buzz-out:hover, .buzz-out:focus, .buzz-out:active {
      -webkit-animation-name: buzz-out;
      animation-name: buzz-out;
      -webkit-animation-duration: 0.75s;
      animation-duration: 0.75s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
    }
    
    /* Float Shadow */
    .float-shadow {
      display: inline-block;
      position: relative;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }
    .float-shadow:before {
      pointer-events: none;
      position: absolute;
      z-index: -1;
      content: '';
      top: 100%;
      left: 5%;
      height: 10px;
      width: 90%;
      opacity: 0;
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
      /* W3C */
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform, opacity;
      transition-property: transform, opacity;
    }
    .float-shadow:hover, .float-shadow:focus, .float-shadow:active {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
      /* move the element up by 5px */
    }
    .float-shadow:hover:before, .float-shadow:focus:before, .float-shadow:active:before {
      opacity: 1;
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
      /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
    }
    /* Pop */
    @-webkit-keyframes pop {
      50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
    
      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
    
    @keyframes pop {
      50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
    
      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
    
    .pop {
      display: inline-block;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }
    .pop:hover, .pop:focus, .pop:active {
      -webkit-animation-name: pop;
      animation-name: pop;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
    }
    
    /* Rotate */
    .rotate {
      display: inline-block;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }
    .rotate:hover, .rotate:focus, .rotate:active {
      -webkit-transform: rotate(4deg);
      transform: rotate(4deg);
    }
    
    /* Grow Rotate */
    .grow-rotate {
      display: inline-block;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }
    .grow-rotate:hover, .grow-rotate:focus, .grow-rotate:active {
      -webkit-transform: scale(1.1) rotate(4deg);
      transform: scale(1.1) rotate(4deg);